$font-yahei = Microsoft YaHei UI, 'Avenir', Helvetica, Arial, sans-serif
$font-pang = Pangmenzhengdao, 'Avenir', Helvetica, Arial, sans-serif
$font-din = DIN, 'Avenir', Helvetica, Arial, sans-serif
$color-map(opacity = 0.3)
  rgba(91, 213, 255, opacity)
$color-green = #82DF12
$color-blue = #47B3FF
$color-red = #D82B2B
$layout(gap = 0.6rem)
  width 100%
  height 100%
  background-size cover
  background-position center
  background-color #061627
  position relative
  display grid
  grid-gap gap
  padding gap
$blur(val = 0.5rem)
  backdrop-filter blur(val)
  -webkit-backdrop-filter blur(val)
$selected()
  box-sizing border-box
  border 0.1rem solid $edgeColor
  background-color rgba(0,242,255,0.1)
$fontColor = #2c3e50
$edgeColor = #00f2ff
$cardBg = rgba(0, 242, 255, 0.1)

$cardBorder = 0.1rem solid #1c425f
$cardFontColor = #5bd5ff

